<div class="preloader">
	<div class="sk-spinner sk-spinner-rotating-plane"></div>
</div>
<br><br><br><br><br><br>
<div class="container center_div" style = "padding-left: 28%;">
    <div class="col-sm-6 centered-form">
      <form action="/login" method="post">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" class="form-control">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control">
        </div>
{{#if message}}
  <div class="error-message">{{ message }}</div>
{{/if}}
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</div>

