<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Sign Up</title>
</head>

<body>
  <form id="form" action="/newUser" method="POST">
    <label for="name">Name</label><br>
    <input type="text" name="name"
      placeholder="First Last">
    <br><br>
    <label for="email">Email</label><br>
    <input type="text" name="email"
      placeholder="ex: yourEmail@gmail.com">
    <br><br>
    <label for="password">Password</label><br>
    <input type="password" name="password"
      placeholder="******">
    <br><br>
  <select name="teams">
    <option name="team" value="ARI">Arizona Cardinals</option>
    <option name="team" value="ATL">Atlanta Falcons</option>
    <option name="team" value="BAL">Baltimore Ravens</option>
    <option name="team" value="BUF">Buffalo Bills</option>
    <option name="team" value="CAR">Carolina Panthers</option>
    <option name="team" value="CHI">Chicago Bears</option>
    <option name="team" value="CIN">Cincinatti Bengals</option>
    <option name="team" value="CLE">Cleveland Browns</option>
    <option name="team" value="DAL">Dallas Cowboys</option>
    <option name="team" value="DEN">Denver Broncos</option>
    <option name="team" value="DET">Detroit Lions</option>
    <option name="team" value="GB">Green Bay Packers</option>
    <option name="team" value="HOU">Houston Texans</option>
    <option name="team" value="IND">Indianapolis Colts</option>
    <option name="team" value="JAX">Jacksonville Jaguars</option>
    <option name="team" value="KC">Kansas Chiefs</option>
    <option name="team" value="LAC">Los Angeles Chargers</option>
    <option name="team" value="LAR">Los Angeles Rams</option>
    <option name="team" value="MIA">Miami Dolphins</option>
    <option name="team" value="MIN">Minnesota Vikings</option>
    <option name="team" value="NE">New England Patriots</option>
    <option name="team" value="NO">New Orleans Saints</option>
    <option name="team" value="NYG">New York Giants</option>
    <option name="team" value="NYJ">New York Jets</option>
    <option name="team" value="OAK">Oakland Raiders</option>
    <option name="team" value="PHI">Philadelphia Eagles</option>
    <option name="team" value="PIT">Pittsburgh Steelers</option>
    <option name="team" value="SF">San Francisco 49ers</option>
    <option name="team" value="SEA">Seattle Seahawks</option>
    <option name="team" value="TB">Tampa Bay Buccaneers</option>
    <option name="team" value="TEN">Tennessee Titans</option>
    <option name="team" value="WAS">Washington Redskins</option>
</select>
 <br><br>
    <label for="city">City you're From</label><br>
    <input type="text" name="city"
      placeholder="ex: New York">
<br><br>
    <label for="airport">You're nearest Airport</label><br>
    <input type="text" name="airport"
      placeholder="ex: FLL">
    <br><br>
{{#if message}}
  <div class="error-message">{{ message }}</div>
{{/if}}
    <button>Create account</button>
  </form>
</body>
</html>

