<h1>Team page</h1>


<strong>Welcome, {{user.name}}! This is your team dashboard.</strong>
 
 {{#each user.team.schedule}}
  
 @ <img src="{{this.logo}}" alt="" height = "30px" width = "30px";>{{this.home}}

 {{/each}}