
<!DOCTYPE html>

<html lang="en">
	<head>
    	<!-- 
    	Boxer Template
    	http://www.templatemo.com/tm-446-boxer
    	-->
		<meta charset="utf-8">
		<title>FanTravel - connecting traveling fans globally</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="">
		<meta name="description" content="">

	</head>
	<body>
		<div class="preloader">
	<div class="sk-spinner sk-spinner-rotating-plane"></div>
</div>
		{{!-- <!-- start preloader -->
		<div class="preloader">
			<div class="sk-spinner sk-spinner-rotating-plane"></div>
    	 </div>
		<!-- end preloader -->
		<!-- start navigation -->
		<nav class="navbar navbar-default navbar-fixed-top templatemo-nav" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand">FanTravel</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right text-uppercase">
						<li><a href="#home">Home</a></li>
						<li><a href="#feature">Login</a></li>
						<li><a href="#pricing">Signup</a></li>
						<li><a href="#download">My Dash</a></li>
						
					</ul>
				</div>
			</div>
		</nav> --}}
		<!-- end navigation -->
		<!-- start home -->
		<section id="home">
			<div class="overlay">
				<div class="container">
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
							<br><br><br>
                            <h1 class="text-upper">What we do</h1>
                            <br><br>
							<p class="tm-white"> FanTravel will simplify the process for getting away to catch your favorite team, and connect you with other fans traveling to the same game. </p>
							{{!-- <img src="/images/nflTravel.jpeg" class="img-responsive" alt="home img" width ="50%" height="50%"> --}}
						</div>
						<div class="col-md-1"></div>
					</div>
				</div>
			</div>
		</section>
		<!-- end home -->
		<!-- start divider -->
		<section id="divider">
			<div class="container">
				<div class="row">
					<div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
						<img src="/images/nflWhiteAirplaneVertical.jpeg" class="fa" alt="home img" width ="23%" height="23%">
						<h3 class="text-uppercase">Plan ahead</h3>
						<p>See your favorite team's away schedule and flights to the destination on your dashboard</p>
					</div>
					<div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
						{{!-- <i class="fa fa-twitter"></i> --}} <i class="fa fa-plane"></i>
						<h3 class="text-uppercase">Travel</h3>
						<p>Choose which game you want to attend to see all the other fans also traveling</p>
					</div>
					<div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
						<i class="fa fa-wechat"></i>
						<h3 class="text-uppercase">Chat</h3>
						<p>Write on the message board, and connect with fans attending the same game!</p>
					</div>
				</div>
			</div>
		</section>
		<!-- end divider -->

		<!-- start feature -->
		
		<!-- end feature -->

		<!-- start feature1 -->
		
		<!-- end feature1 -->

		<!-- start pricing -->
		<section id="pricing">
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow bounceIn">
						<h2 class="text-uppercase">Testimonials</h2>
					</div>
					<div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
						<div class="pricing text-uppercase">
							<div class="pricing-title">
								<h4>Jose Arjona</h4>
								<p>Steelers Fan</p>
								
							</div>
							<img src="/images/jose.jpg" alt="">
							<small class = "text-lowercase"><i>"I used FanTravel to fly from Miami and see the Steelers play in Arizona for only a $200 flight"</i></small>
						</div>
					</div>
					<div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
						<div class="pricing active text-uppercase">
							<div class="pricing-title">
								<h4>Dali Rojas</h4>
								<p>Dolphins Fan</p>
								
							</div>
							<img src="/images/dali.png" alt="">
							<small class = "text-lowercase"><i>"I never thought I would go to San Francisco watch the Dolphins play until I saw $220 flight"</i></small>
						</div>
					</div>
					<div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
						<div class="pricing text-uppercase">
							<div class="pricing-title">
							<h4>Jeyson Murillo</h4>
								<p>Vikings Fan</p>
								
							</div>
							<img src="/images/jeyson.jpg" alt="">
							<small class = "text-lowercase"><i>"Because of FanTravel I went to green bay to watch my vikings play and it was only a $198 flight"</i></small>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end pricing -->

		

		<!-- start contact -->
		<section id="contact">
			<div class="overlay">
				<div class="container">
					<div class="row">
						<div class = "col-md-4"></div>
						<div class="col-md-8 wow fadeInUp" data-wow-delay="0.6s">
							<h2 class="text-uppercase">About us / Contact</h2>
							<p>Founded while attending Ironhack coding bootcamp. Working out of Miami, but traveling the states to watch our favorite teams play! </p>
							<address>
								<p><i class="fa fa-map-marker"></i>120 SW 8th St, Miami, United States</p>
								<p><i class="fa fa-phone"></i> 555-555-5555</p>
								<p><i class="fa fa-envelope-o"></i> info@fantravel.com</p>
							</address>
						</div>
						
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end contact -->

		<!-- start footer -->
		<footer>
			<div class="container">
				<div class="row">
					<p>Copyright © 2018 FanTravel</p>
				</div>
			</div>
		</footer>
		<!-- end footer -->
        
		
	</body>
</html>